{% assign carousel = site.data.carousel[include.name] %}
{% assign id = carousel.id %}
<div id="{{ id }}" class="carousel slide">
    <ol class="carousel-indicators">
        {% for slide in carousel.slides %}
            {% assign classes = "" %}
            {% if forloop.first %}
                {% assign classes = "active" %}
            {% endif %}
            <li data-target="#{{ id }}" data-slide-to="{% increment counter %}" class="{{ classes }}"></li>
        {% endfor %}
    </ol>
  <div class="carousel-inner">
    {% for slide in carousel.slides %}
        {% assign classes = "carousel-item" %}
        {% if forloop.first %}
            {% assign classes = "carousel-item active" %}
        {% endif %}
        <div class="{{ classes }}">
            <img class="d-block w-100" src="{{ slide.src }}" alt="{{ slide.alt }}">
        </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
