//common.scss
$alt-text-color:#dedede;
$alt-link-visited:#aeaeae;
$alt-link-hover:#bababa;

$sm-breakpoint:576px;
$md-breakpoint:768px;
$lg-breakpoint:992px;

$accent-colour: #563d7c;

// global styling
%link-alt {
    &           { color: $alt-text-color; }
    &:visited   { color: $alt-link-visited; }
    &:hover     { color: $alt-link-hover; }
}

// fix for positioning
html, body  { height: 100%; }
#wrapper    { min-height: 100%; position: relative; }

// main body
.body {
    &       { padding-bottom: 500px; }
    > div   { margin: 15px 0; }

    @media (min-width:$sm-breakpoint) {
        &   { padding-bottom: 375px; }
    }
}

// navigation bar styling
.navigation nav {
    &                       { position: absolute; width: 100%; background-color: $accent-colour; }
    .navbar-nav             { margin: 0 -16px -8px; padding-top: 15px; }
    .nav-link               { @extend %link-alt; padding: 12px 15px; }
    .nav-link:hover         { background-color: rgba(255,255,255,.5) }
}

// Footer styling
.footer {
  & { background-color: $accent-colour; height: 500px; color: $alt-text-color; position: absolute; bottom: 0; left: 0; width: 100%; }
  .container {
      ul                { list-style: none; }
      div               { margin: 15px 0; }
      h2                { text-align: center; }
      > div:last-child  { text-align: center; vertical-align: bottom; }
      a                 { @extend %link-alt; }
      img               { display: block; }

      // external personal links
      .ext-links        { font-size: 2em; }
      .ext-links li     { display: inline-block; margin: 0 15px; }
  }

  @media (min-width:$sm-breakpoint) {
      &                 { height: 375px; }
  }
}
